<div class="container map-container">
  <h2 class="map-title">Postcode: <%= @postcode %></h2>
  <% if @stores.empty? %>
    <p class="text-danger">There are no stores at this postcode ‼️</p>
  <% end %>
  <div style="width: 100%; height: 300px;"
    data-controller="map"
    data-map-markers-value="<%= @markers.to_json %>"
    data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>
  <%# <% if @store.present? %>
    <form action="<%= products_path %>" method="get">
      <fieldset class="form-group">
        <h3 class="store-list-title">Stores:</h3>
          <div class="category-wrapper">
            <% @stores.each do |store| %>
              <div class="category-item">
                <input class="form-check-input category-selector snippet_category" type="checkbox" value="<%= store.id %>" name="store_list[]" id="<%= dom_id(store) %>">
                <label class="form-check-label" for="<%= dom_id(store) %>">
                  <h4 class="store-name"><%= store.company_name %></h4>
                  <h6 class="location-name"><%= store.location_name %></h6>
                  <p class="store-address"><%= store.address %></p>
                </label>
              </div>



            <%# <div class="store-list">
              <h3 class="store-list-title">Our locations</h3>
              <ul>
                <li class="coles-balwyn">Coles Balwyn East<br><small>342-344 Belmore Rd, Balwyn VIC 3103</small></li>
                <li class="woolie-boxhill">Woolworths Box Hill Central<br><small class="no-berder">Cnr Main &, Station St, Box Hill VIC 3128</small></li>
              </ul>
            </div> %>
          <% end %>
        </div>
      </fieldset>
      <button type="submit" class="store-search-btn">Search</button>
    </form>
    <%# <% end %>
</div>
