<div class="container">
<%= render "shared/search-bar"%>
  <div class='category-container'>
    <%= link_to image_tag('fruits-veggies.png'), fruit_path %>
    <%= link_to image_tag('bread.png'), bakery_path %>
    <%= link_to image_tag('deli.png'), deli_path %>
    <%= link_to image_tag('pantry.png'), pantry_path %>
    <%= link_to image_tag('frozen.png'), frozen_path %>
    <%= link_to image_tag('vitamin.png'), health_path %>
    <%= link_to image_tag('juice.png'), drinks_path %>
    <%= link_to image_tag('chicken.png'), meat_path %>
  </div>
</div>
