<div class="product-tile">
  <div class="product-card">
    <div class="image-area">
      <%= image_tag "https://images.unsplash.com/photo-1577916082233-f97ed22e4df8?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80", class:"product-image" %>
    </div>
    <div class="name-price-area">
      <%= link_to product.name, product_path(product.id), class: "product-name" %>
      <div class="prices">
        <div class="price-flex coles">
          <p class="coles-price">Coles: </p>
          <span>$<%= a = PriceChart.where(store_product: (product.store_products.where(brand_name: 'Coles')).ids).last %></span>
        </div>
        <div class="price-flex wooly">
          <p class="wooly-price">Woolworths: </p>
          <span>$<%= PriceChart.where(store_products: (product.store_products.where(brand_name: 'Woolworths')).ids).last %></span>
        </div>
      </div>
    </div>
  </div>
  <% if current_user %>
    <% if current_user.default_list.has_product?(product) %>
      <a class='disabled add-btn'>Added</a>
    <% else %>
      <%= link_to 'Add', create_list_item_path(product, list_id: current_user.default_list.id, quantity: 1), data: {turbo_method: :post}, class: 'add-btn' %>
    <% end %>
  <% end %>
</div>
