<!-- BANNER SECTION -->
<div class="container-sm p-0">
  <div class="banner">
    <h1 class="banner-txt">Track Prices, <br>
      Get the Deals!</h1>
    <%= form_with url: store_locator_path, method: :get, class: 'form' do |f| %>
      <%= f.label :postcode, "Enter your postcode:" %><br>
      <div class="d-flex justify-content-start align-items-center">
        <%= f.text_field :postcode, placeholder: '3000' %>
        <%= f.submit 'Search', class: 'btn-location' %>
      </div>
    <% end %>
  </div>

  <!-- BANNER SECTION END -->
  <!-- CATEGORY SECTION -->
  <div class="row">
    <div class="col">
      <%= render "categories/cards" %>
    </div>
  </div>
  <!-- CATEGORY SECTION END -->
</div>
