<main>
<%= form_with url: products_path, method: :get, class: "d-flex my-3" do %>
  <%= text_field_tag :query,
    params[:query],
    class: "form-control",
    placeholder: "Search products", id: "search-bar"
  %>
  <%= submit_tag "", class: "btn btn-primary" %>
<% end %>
<%# raise %>
<%= render "shared/category_nav_bar", products: @products %>

<div class="product-list">
  <% @products.each do |product| %>
    <%= render "shared/showproductlist", product: product %>
  <% end %>
</div>
</main>
