<div class="container">
  <h1 class="my-header">Details of <%= @product.name %></h1>
  <div class="w-50">
    <%= cl_image_tag @product.photo.key, class:"product-image d-flex justify-content-center", width: 100, height: 150 %>
  </div>
  <div class="calendar">
    <h2 class="d-flex justify-content-center">Pick a start date:</h2>
        <%= form_with url: product_path(@product), method: :get do |f| %>
          <%= f.text_field :start_date,
            value: params[:start_date],
            data: {
              controller: "flatpickr",
              }
            %>
          <%= f.submit class:'book-btn' %>
        <% end %>
  </div>

<div class="d-flex justify-content-center">
  <div class="data-chart" data-controller="chart" data-prices=<%= @allprices.to_json%> ><canvas id="price-chart"></canvas></div>
  <script type="module" src="chart_controller.js"></script>
</div>
  <div class="d-flex justify-content-around flex-row">
    <div>
      <h2 class="secondary-header coles1">Coles</h2>
      <div class="update">
        <p>$<%= @allprices["Coles"].last[:price] %><small> AUD</small></p>
        <p>Last update: <%= @allprices["Coles"].last[:date] %></p>
      </div>
    </div>

    <div>
      <h2 class="secondary-header wooly1">Woolworths</h2>
      <div class="update">
        <p>$<%= @allprices["Woolworths"].last[:price] %><small> AUD</small></p>
        <p>Last update: <%= @allprices["Woolworths"].last[:date] %></p>
      </div>
    </div>
  </div>
</div>
