<div class="container">
  <div class="d-flex flex-column justify-content-center mb-3">
  <h1 class="my-header"><%= @product.name %></h1>
  <div class="mx-auto" style="text-align:-webkit-center;">
    <%= cl_image_tag @product.photo.key, class:"product-image d-flex justify-content-center" %>
  </div>
  <% if current_user %>
    <% if current_user.default_list.has_product?(@product) %>
      <a class='disabled add-btn'>Added</a>
    <% else %>
      <%= link_to 'Add', create_list_item_path(@product, list_id: current_user.default_list.id, quantity: 1), data: {turbo_method: :post}, class: 'add-btn' %>
    <% end %>
  <% end %>
  </div>
  <div class="calendar">
    <h2 class="d-flex justify-content-center">Pick a start date:</h2>
        <%= form_with url: product_path(@product), method: :get do |f| %>
          <%= f.text_field :start_date,
            value: params[:start_date],
            data: {
              controller: "flatpickr",
              }
            %>
          <%= f.submit class:'book-btn' %>
        <% end %>
  </div>

<div class="d-flex justify-content-center">
  <div class="data-chart" data-controller="chart" data-prices=<%= @allprices.to_json%> ><canvas id="price-chart"></canvas></div>
  <script type="module" src="chart_controller.js"></script>
</div>
  <div class="d-flex justify-content-around flex-row">
    <div class="price-card">
      <h2 class="d-flex justify-content-center secondary-header coles1">Coles</h2>
      <div class="update2">
        <h3><strong>$<%= @allprices["Coles"].last[:price] %></strong><small> AUD</small></h3>
        <p><small>Last update: <%= @allprices["Coles"].last[:date] %></small></p>
      </div>
    </div>

    <div class="price-card">
      <h2 class="d-flex justify-content-center secondary-header wooly1">Woolworths</h2>
      <div class="update2">
        <h3><strong>$<%= @allprices["Woolworths"].last[:price] %></strong><small> AUD</small></h3>
        <p><small>Last update: <%= @allprices["Woolworths"].last[:date] %></small></p>
      </div>
    </div>
  </div>
</div>
