<div class="container">
  <h1 class="my-header mt-2 mb-2" ><%= @list.name %></h1>
    <div data-controller="view" class="d-flex justify-content-center" id="selector">
      <div data-view-target="default" data-action="click->view#default" class="list-selector mx-3">Default</div>
      <div data-view-target="coles" data-action="click->view#coles" class="list-selector mx-3">Coles</div>
      <div data-view-target="woolworths" data-action="click->view#woolworths" class="list-selector mx-3">Woolworths</div>
      <div data-view-target="cheapest" data-action="click->view#cheapest" class="list-selector mx-3">Cheapest</div>
    </div>
  <div class="d-flex flex-column-reverse">
    <div id="shopping-list">
      <% @listitems.each do |item| %>
          <div class="border py-2 product-tile item">
            <% this_product = Product.find(item.product_id) %>
            <div class="product-card">
              <div class="image-area">
                <%= image_tag "https://images.unsplash.com/photo-1577916082233-f97ed22e4df8?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80", class:"product-image" %>
              </div>
              <div class="name-price-area">
                <div class="d-flex justify-content-between">
                  <a class="product-name"><%= this_product.name %></a>
                  <%= link_to 'x', delete_list_item_path(item.id), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %>
                </div>
                <div class="prices">
                  <% @comparison = {} %>
                  <% StoreProduct.where(product: this_product).each do |store_product| %>
                    <% brand_name = store_product.brand_name.downcase %>
                    <div class="price-flex <%= brand_name %>">
                      <p class="<%= brand_name %>-price"><%= brand_name.capitalize %>:</p>
                      <span>$<%= price = PriceChart.where(store_product: store_product).last[:price] %></span>
                      <% brand_name == 'coles' ? @colesprices << price : @wooliesprices << price %>
                      <% @comparison[store_product.brand_name.downcase] = price %>
                    </div>
                  <% end %>
                  <div id="cheapest-price">
                    <% @comparison['woolworths'] < @comparison['coles'] ? @cheapestprices << @comparison['woolworths'] : @cheapestprices << @comparison['coles'] %>
                  </div>
                </div>
              </div>
            </div>
          </div>
      <% end.empty? && begin %>
        <p>List is empty. Please, go to the products and add.</p>
      <% end %>
    </div>

    <div id="price-calculator">

        <% @csum = @colesprices.sum  %>
        <% @wsum = @wooliesprices.sum %>
        <div class="d-flex justify-content-between total-price-list coles"><div>Coles</div> <div>$<%= @csum %></div></div>
        <div class="d-flex justify-content-between total-price-list wooly"><div>Woolworths</div> <div>$<%= @wsum %></div></div>
        <div class="mb-2">
          <% if @csum > @wsum %>
            <div class="total-price-list wooly">Shop at Woolworths to save $<%= @difference = (@csum - @wsum).floor(2) %> and <%= ((@difference/@csum)*100).floor(2) %>% on your shop</div>
          <% else %>
            <div class="total-price-list coles">Shop at Coles to save $<%= @difference = (@wsum - @csum).floor(2) %> and <%= ((@difference/@wsum)*100).floor(2) %>% on your shop</div>
          <% end %>
        </div>
        <div class="d-flex justify-content-between total-price-list coles">Cheapest <div><%= @cheapestprices.sum %></div></div>
      </div>
    </div>

  </div>
</div>
