<!DOCTYPE html>
<html>
  <head>
    <title>Stinge</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
    <script src="https://kit.fontawesome.com/fa996264e6.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <%# <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest"> %>
    <%= favicon_link_tag "favicon-16x16.png", rel: "icon", type: "image/png" %>
    <!-- Phosphor icons -->
    <script src="https://unpkg.com/@phosphor-icons/web"></script>
    <!-- MAPBOX -->
    <link href="https://api.mapbox.com/mapbox-gl-js/v2.11.0/mapbox-gl.css" rel="stylesheet">
    <%# <the-script src="https://api.mapbox.com/mapbox-gl-js/v2.11.0/mapbox-gl.js"></the-script> %>
  </head>

  <body>
    <div class="content-wrapper">
      <%= render "shared/navbar" %>
      <%= yield %>
      <%= render "shared/flashes" %>
      <%= render "shared/footer" %>
    </div>

  </body>
</html>
